# Ignore .vagrant
**/.vagrant*

# Ignore subdirectories
!.github/**
dist/
node_modules/
node_modules.tar
coverage/
docs/
.yarn/cache
output/
**/*group*/
**/*chunk*/

# Allow bin directory but ignore executables within it
!bin/
bin/*.exe
bin/*.sha
bin/*.dll

# Ignore Files
*.tgz
*.gz
*.zip
*.bundle
*.iso
*.sha
*.log
*.sha
*iso.txt
*iso.sha
*.exe

*/desktop.ini